.programmingCard{
  width: 181px;
  height: 230px;
  padding: 24px 9px 25px 10px;
  background: url("../../public/main/programBG.png");
  .cardImg{
    width: 162px;
    height: 136px;
    border: none;
    margin: 0 0 16px 0;
  }
}
