.customInput{
  width: 493px;
  height: 70px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(156, 55, 253, 0.7);
  //border-image: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  outline: none;
  padding: 24px;
  &::placeholder {
    color: #A2CBFB;
  }
}

